on:
  push:
    branches:
      - main
      - test-gh-pages  # Temporary; for GitHub Actions testing

name: Build docs

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write # for Git to git push
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt --extra-index-url https://download.pytorch.org/whl/cpu
          python -m pip install -r docs/requirements.txt

      - name: Sphinx build
        run: |
          sphinx-build -M html docs/source/ docs/build/

    #   - name: Copy CNAME file
    #     run: |
    #       cp docs/source/CNAME docs/build/html/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html/
          force_orphan: true
